@import '../../../styles/_variables';

.widget {
    padding: $spacer;
    border-radius: $border-radius;
    background-color: $white;
    margin-bottom: $spacer;

    .heading {
        text-transform: uppercase;
        color: rgba($cobalt, .5);
        font-weight: 700;
        font-size: 14px;
        margin-bottom: $spacer;
    }
}
