@import '../../../styles/variables';

.dashboard-layout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100vh;
    overflow: hidden;

    .dashboard-navigation {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: $navigation-width;
        height: 100%;
        background-color: $white;
        z-index: 10;
        border-right: 1px solid rgba($cobalt, .1);
        transition: width .4s;
        overflow: hidden;

        .toggle-menu {
            padding: 30px 20px 0;
            cursor: pointer;

            span {
                display: block;
                height: 2px;
                width: 20px;
                background-color: $cobalt;
                margin-bottom: 5px;
                border-radius: $border-radius;
                transition: width .4s;

                &:last-of-type {
                    width: 12px;
                    margin-bottom: 0;
                }
            }

            &:hover {
                span {
                    &:last-of-type {
                        width: 20px;
                    }
                }
            }
        }

        nav {
            flex: 1;
            padding: $spacer * 2 0;

            a {
                display: flex;
                align-items: center;
                border-left: 2px solid transparent;
                transition: all .4s;
                height: 55px;
                width: $navigation-width-expanded;
                text-decoration: none;

                .icon-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: calc(#{$navigation-width} - 2px);
                }

                svg {
                    height: 100%;
                    width: 30px;
                    margin-left: -2px;
                    transition: fill .4s;
                    fill: $dark-grey;
                }

                span {
                    margin-left: $spacer * .5;
                    white-space: nowrap;
                    transition: color .4s;
                    color: $dark-grey;
                }

                &.active,
                &:hover,
                &:focus {
                    border-left: 2px solid $blue;
                    background-color: lighten($blue, 43);

                    svg {
                        fill: $blue;
                    }

                    span {
                        color: $blue;
                    }
                }
            }
        }

        .avatar {
            background-size: cover;
            background-position: center center;
            width: 35px;
            height: 35px;
            border-radius: 50%;
            margin: 0 0 15px 12px;
        }
    }

    .dashboard-content {
        width: calc(100% - #{$navigation-width});
        height: 100%;
        overflow-y: auto;
        padding: $spacer;
        background-color: $light-grey;
        transition: width .4s;
    }

    &.menu-expanded {
        .dashboard-navigation {
            width: $navigation-width-expanded;
        }

        .dashboard-content {
            width: calc(100% - #{$navigation-width-expanded});
        }
    }
}
