@import '../../../styles/_variables.scss';

.button {
    border: none;
    background-color: $dark-grey;
    border-radius: $border-radius;
    color: $white;
    -webkit-appearance: none;
    font-size: 14px;
    padding: 0 $spacer * .5;
    height: $spacer * 1.5;
    line-height: $spacer * 1.5;
    text-decoration: none;
    transition: background-color .4s;

    &:hover {
        text-decoration: none;
        color: $white;
        background-color: darken($dark-grey, 10);
    }

    &.success {
        background-color: $green;

        &:hover {
            background-color: darken($green, 10);
        }
    }

    &.primary {
        background-color: $blue;

        &:hover {
            background-color: darken($blue, 10);
        }
    }

    &.error {
        background-color: $red;

        &:hover {
            background-color: darken($red, 10);
        }
    }
}

.text-button {
    color: $dark-grey;
    cursor: pointer;
    text-decoration: none;
    transition: color .4s;
    display: inline-block;

    &:hover {
        text-decoration: none;
        color: darken($dark-grey, 10)
    }

    &.success {
        color: $green;

        &:hover {
            color: darken($green, 10);
        }
    }

    &.primary {
        color: $blue;

        &:hover {
            color: darken($blue, 10);
        }
    }

    &.error {
        color: $red;

        &:hover {
            color: darken($red, 10);
        }
    }

    @for $i from 1 through 3 {
        &.space-top-#{$i} {
            padding-top: calc(#{$i} * 10px);
        }

        &.space-right-#{$i} {
            padding-right: calc(#{$i} * 10px);
        }

        &.space-bottom-#{$i} {
            padding-bottom: calc(#{$i} * 10px);
        }

        &.space-left-#{$i} {
            padding-left: calc(#{$i} * 10px);
        }
    }
}
